/* ============================= */
/* ===== ANIMATIONS ===== */
/* ============================= */

.floating-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

.loading-card {
    animation: pulse 1.5s infinite ease-in-out;
}
